*~
*.dat
*.eld
.smex-items
.emacs_workgroups_*
tmp*
places
ede-projects.*
ac-dict/
tramp
abbrev_defs
.emacs.desktop
.emacs.desktop.lock
semanticdb/
auto-save-list/
elpa/
url/
dl/
save/
eshell/
projectile.cache
recentf
smex-items
